<div id="mainContent">
	<div id="companyTitle">
			<h2><%= @name %> - (<%= @symbol %>)</h2>
			<p> Last Price: <%= @price %></p>
			<p> <%= @trade_timestamp %> </p>
		</div>

		<div id="priceInfo">
			<% if @change[0].to_f < 0 %>
				<span style= 'color:red'>Price Change <%= @change[0] %></span>
			<% else @change[0].to_f > 0 %>
				<span style= 'color:green'>Price Change <%= @change[0] %></span>
			<% end %>
			<% if @change[1].to_f < 0 %>
				<span style= 'color:red'> (<%= @change[1] %>)</span>
			<% else @change[1].to_f > 0 %>
				<span style= 'color:green'> <%= @change[1] %></span>
			<% end %>
		</div>

		<figure class="freezeframe-container">
			<%== image_tag "jonah.gif" %>
			<br>(hover to play clip)
		</figure>

		<div id="chart">
			<img src="http://app.quotemedia.com/quotetools/getChart.go?webmasterId=500&chtype=AreaChart&symbol=<%= params[:symbol]%>&chmrg=3&chscale=1d&chwid=200&chhig=200&chsym=<%= params[:symbol]%>Intraday">
		</div>

		<div class="CSSTableGenerator">
			<table>
		  		<tr>
		    		<th>Key Stock Data</th>
		  		</tr>
		  		<tr>
				    <td>Days Range</td>
				    <td>Volume</td>
					<td>Stock Exchange</td>
					<td>Market Cap (billions)</td>
					<td>EPS</td>
					<td>P/E Ratio</td>
				  </tr>
				  <tr>
				    <td><%= @days_range[0] %> - <%= @days_range[1] %></td>
				    <td><%= @volume %></td>
					<td><%= @stock_exchange %></td>
					<td><%= @market_cap %></td>
					<td><%= @eps %></td>
					<td><%= @pe %></td>
			  </tr>
			</table>
		</div>

</div>